
<h2>My Accountants</h2>
<ul class="accountants">
  <li *ngFor="let accountant of accountants"
    [class.selected]="accountant === selectedAccountant"
    (click)="onSelect(accountant)">
    <span class="badge">{{accountant.id}}</span> {{accountant.name}}
  </li>
</ul>
 
<div *ngIf="selectedAccountant">
 
  <h2>{{ selectedAccountant.name | uppercase }} Details</h2>
  <div><span>id: </span>{{selectedAccountant.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedAccountant.name" placeholder="name">
    </label>
  </div>
 
</div>