
<h2>My Accountants</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Naam</th>
      <th scope="col">#Transacties</th>
      <th scope="col">VAT</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let accountant of accountants">
      <td>{{accountant.id}}</td>
      <td><a routerLink="/detail/{{accountant.id}}">{{accountant.name}}</a></td>
      <td>5</td>
      <td>{{accountant.vat}}</td>
      <td>Delete</td>
    </tr>
  </tbody>
</table>
<div>
    <label>Accountant name:
      <input #accountantName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(accountantName.value); accountantName.value=''">
      add
    </button>
  </div>


